[submodule "Qt-Advanced-Docking-System"]
	path = 3rdparty/Qt-Advanced-Docking-System
	url = git@github.com:Wing-summer/Qt-Advanced-Docking-System.git
[submodule "qwindowkit"]
	path = 3rdparty/qwindowkit
	url = git@github.com:Wing-summer/qwindowkit.git
