[submodule "Qt-Advanced-Docking-System"]
	path = 3rdparty/Qt-Advanced-Docking-System
	url = git@github.com:Wing-summer/Qt-Advanced-Docking-System.git
[submodule "qwindowkit"]
	path = 3rdparty/qwindowkit
	url = git@github.com:Wing-summer/qwindowkit.git
[submodule "3rdparty/AngelScript"]
	path = 3rdparty/AngelScript
	url = git@github.com:Wing-summer/AngelScript.git
[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = git@github.com:nlohmann/json.git
