[submodule "Qt-Advanced-Docking-System"]
	path = 3rdparty/Qt-Advanced-Docking-System
	url = git@github.com:Wing-summer/Qt-Advanced-Docking-System.git
[submodule "qwindowkit"]
	path = 3rdparty/qwindowkit
	url = git@github.com:Wing-summer/qwindowkit.git
[submodule "3rdparty/AngelScript"]
	path = 3rdparty/AngelScript
	url = git@github.com:Wing-summer/AngelScript.git
	branch=stable
[submodule "3rdparty/cpptrace"]
	path = 3rdparty/cpptrace
	url = git@github.com:Wing-summer/cpptrace.git
[submodule "3rdparty/WingCodeEdit"]
	path = 3rdparty/WingCodeEdit
	url = git@github.com:Wing-summer/WingCodeEdit.git
